{% extends 'base.html' %} {% block style %}
<style>
  .button {
    margin: 10px;
    background: #333e48;
    color: #ffffff;
  }
  .button:hover {
    background-color: #0076be;
    color: #ffffff;
  }
</style>
{% endblock %} {% block body%}
<h1>Account</h1>
<p>ID Number: {{user.ID}}</p>
<p>Full name: {{user.name}} {{user.surname}}</p>
<p>Email: {{user.email}}</p>
<p>Cell Number: {{user.cell_no}}</p>
<button class="btn button" data-bs-toggle="modal" data-bs-target="#EmailModal">
  Update Email
</button>
<button
  class="btn button"
  data-bs-toggle="modal"
  data-bs-target="#ContactModal"
>
  Update Contact Number
</button>
<button
  class="btn button"
  data-bs-toggle="modal"
  data-bs-target="#PasswordModal"
>
  Update password
</button>
<form action="{{url_for('account.logout')}}" method="POST">
  <button class="btn button">Log Out</button>
</form>

<!-- Email Model -->
<div
  class="modal fade"
  id="EmailModal"
  tabindex="-1"
  aria-labelledby="EmailModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="EmailModalLabel">Change Email</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form action="" method="POST">
        <div class="modal-body">
          {{ email_form.hidden_tag() }} {{email_form.email.label}}
          {{email_form.email()}}
        </div>

        <div class="modal-footer">{{email_form.submit()}}</div>
      </form>
    </div>
  </div>
</div>

<!-- Contact Model -->
<div
  class="modal fade"
  id="ContactModal"
  tabindex="-1"
  aria-labelledby="ContactModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ContactModalLabel">
          Change Contact Number
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form action="" method="POST">
        <div class="modal-body">
          {{ contact_form.hidden_tag() }} {{contact_form.cont_num.label}}
          {{contact_form.cont_num()}}
        </div>

        <div class="modal-footer">{{contact_form.submit()}}</div>
      </form>
    </div>
  </div>
</div>

<!-- Password Model -->
<div
  class="modal fade"
  id="PasswordModal"
  tabindex="-1"
  aria-labelledby="PasswordModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="PasswordModalLabel">
          Change Password
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form action="" method="POST">
        <div class="modal-body">
          {% if password_form.password.errors %} {% for error in
          password_form.password.errors %}
          <div style="color: red">{{error}}</div>
          {% endfor %} {% endif %}<br />
          {{ password_form.hidden_tag() }} {{password_form.password.label}}
          {{password_form.password()}}<br />
          {{password_form.new_password.label}} {{password_form.new_password()}}
        </div>

        <div class="modal-footer">{{password_form.submit()}}</div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
