{% extends 'base.html' %} {% block docName %}All Polices {% endblock %} {% block
style %} {% endblock %} {% block body%}

<!-- Actual policy code -->
<div class="polices-container">
  <h2 class="all-heading heading-background">All Policies</h2>
  <h3 class="all-category-heading heading-background">Classic Cars:</h3>
  {% for policy,classic_car in all_policies_data.classic_car %}
  <div
    class="card all-items-container {% if not policy.active %}policy-container{% endif %}"
  >
    <h5 class="bold_item_text">Policy No: {{policy.policy_number}}</h5>
    <p>Vehicle:</p>
    <p>Make: {{classic_car.vehicle_make}}</p>
    <p>Model: {{classic_car.model}}</p>
    <p>
      Premium:
      <span class="bold_item_text">R{{policy.monthly_premium}} p/m</span>
    </p>
    <a
      class="btn {% if not policy.active %}all-button-active{% else %}all-button{% endif %}"
      href="/all-policies/{{policy.policy_number}}"
      >View More</a
    >
  </div>
  {% endfor %}
</div>
{% endblock %}
