{% extends 'base.html' %} {% block style %}
<style>
  .all-category-heading {
    margin-left: 15px;
  }

  .all-heading {
    margin-left: 15px;
    margin-top: 20px;
  }

  .all-items-container {
    padding: 10px;
    margin: 17px;
  }
  .policy-container {
    background-color: #333e48;
    color: #ffffff;
  }
  .all-button-active {
    max-width: 150px;
    background-color: #111820;
    color: #ffffff;
  }
  .all-button {
    max-width: 150px;
    background-color: #333e48;
    color: #ffffff;
  }
  .all-button:hover,
  .all-button-active:hover {
    background-color: #0076be;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
</style>
{% endblock %} {% block body%}

<!-- Actual policy code -->
<div class="polices-container">
  <h2 class="all-heading">All Policies</h2>
  <h3 class="all-category-heading">Classic Cars:</h3>
  {% for policy,classic_car in all_policies_data.classic_car %}
  <div
    class="card all-items-container {% if not policy.active %}policy-container{% endif %}"
  >
    <h5>Policy No: {{policy.policy_number}}</h5>
    <p>Vehicle:</p>
    <p>Make: {{classic_car.vehicle_make}}</p>
    <p>Model: {{classic_car.model}}</p>
    <p>Premium: R{{policy.monthly_premium}} p/m</p>
    <a
      class="btn {% if not policy.active %}all-button-active{% else %}all-button{% endif %}"
      href="/all-policies/{{policy.policy_number}}"
      >View More</a
    >
  </div>
  {% endfor %}
</div>
{% endblock %}
