{% extends 'base.html' %} {% block style %}
<style>
  body {
    background-image: url('/static/background2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
</style>
{% endblock %} {% block body%}
<h2 class="all-heading heading-background">All Quotes</h2>
<h3 class="all-category-heading heading-background">Classic Cars:</h3>
{% for car_quote, quote, classic_car in quotes_data %}
<div class="card all-items-container">
  <h5>No: {{quote.quote_id}}</h5>
  <p>Vehicle:</p>
  <p>Make: {{classic_car.vehicle_make}}</p>
  <p>Model: {{classic_car.model}}</p>
  <p>
    Premium: {{"R {:,.2f} p/m".format(quote.quoted_premium).replace(',',' ')}}
  </p>
  <a class="btn all-button" href="/quote/all-quotes/{{quote.quote_id}}"
    >View more</a
  >
</div>
{% endfor %} {% endblock %}
