<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h1>All Quotes</h1>
    {% for car_quote, quote, classic_car in quotes_data %}
    <h2>No: {{quote.quote_id}}</h2>
    <p>Item</p>
    <p>{{classic_car.vehicle_make}}</p>
    <p>{{classic_car.model}}</p>
    <p>{{"R{:,.2f}".format(quote.quoted_premium).replace(',',' ')}} p/Month</p>
    <a href="/all-quotes/{{quote.quote_id}}">View more</a>
    {% endfor %}
  </body>
</html>
