{% extends 'base.html' %} {% block style %}
{% endblock %} {% block body%}
<div class="card dashboard-card">
  <h2 class="dashboard-heading">Welcome {{user.name}} {{user.surname}}</h2>

  <div class="card-body dashboard-buttons-group">
    <div class="dashboard-button">
      <a class="dashboard-button-item" href="/quote/classic-cars">
        <i class="fa-solid fa-file-signature"></i>
        <p class="dashboard-button-text">Classic Cars Quote</p>
      </a>
    </div>
    <div class="dashboard-button">
      <a class="dashboard-button-item" href="/quote/all-quotes">
        <i class="fa-solid fa-file-contract"></i>
        <p class="dashboard-button-text">All Quotes</p>
      </a>
    </div>
    <div class="dashboard-button">
      <a class="dashboard-button-item" href="/all-policies/">
        <i class="fa-regular fa-folder-open"></i>
        <p class="dashboard-button-text">All Policies</p>
      </a>
    </div>
    <div class="dashboard-button">
      <a class="dashboard-button-item" href="/new-claim">
        <i class="fa-solid fa-file-contract"></i>
        <p class="dashboard-button-text">New Claim</p>
      </a>
    </div>
    <div class="dashboard-button">
      <a class="dashboard-button-item" href="/all-claims">
        <i class="fa-solid fa-file-contract"></i>
        <p class="dashboard-button-text">All Claims</p>
      </a>
    </div>
  </div>
</div>
{% endblock %}
