{% extends 'base.html' %}
{% block docName %}Dashboard {% endblock %}
{% block style %} {% endblock %} {% block body%}
<div class="card dashboard-card">
  <h2 class="dashboard-heading">Welcome {{user.name}} {{user.surname}}</h2>

  <div class="card-body dashboard-buttons-group">
    <div class="dashboard-button">
      <a class="dashboard-button-item" href="/quote/classic-cars">
        <i class="fa-solid fa-file-signature"></i>
        <p class="dashboard-button-text">Classic Cars Quote</p>
      </a>
    </div>
    <div class="dashboard-button">
      <a class="dashboard-button-item" href="/quote/all-quotes">
        <i class="fa-solid fa-file-contract"></i>
        <p class="dashboard-button-text">All Quotes</p>
      </a>
    </div>
    <div class="dashboard-button">
      <a class="dashboard-button-item" href="/all-policies/">
        <i class="fa-regular fa-folder-open"></i>
        <p class="dashboard-button-text">All Policies</p>
      </a>
    </div>
    <div class="dashboard-button">
      <a class="dashboard-button-item" href="/new-claim">
        <i class="fa-solid fa-file-contract"></i>
        <p class="dashboard-button-text">New Claim</p>
      </a>
    </div>
    <div class="dashboard-button">
      <a class="dashboard-button-item" href="/all-claims">
        <i class="fa-solid fa-file-contract"></i>
        <p class="dashboard-button-text">All Claims</p>
      </a>
    </div>
  </div>
</div>
{% if policy %}
<div class="card dashboard-card">
  <h1 class="dashboard-heading">Policy</h1>
  <h5 class="bold_item_text">Policy No: {{policy.policy_number}}</h5>
    <p>Vehicle:</p>
    <p>Make: {{classic_car.vehicle_make}}</p>
    <p>Model: {{classic_car.model}}</p>
    <p>
      Premium:
      <span class="bold_item_text">R{{policy.monthly_premium}} p/m</span>
    </p>
    <a
      class="btn {% if not policy.active %}all-button-active{% else %}all-button{% endif %}"
      href="/all-policies/{{policy.policy_number}}"
      >View More</a
    >
  </div>
</div>
{% endif %}
{% endblock %}
