{% extends 'base.html' %} {% block style %}
<style>
  .dashboard-heading {
    color: #111820;
  }
  .dashboard-card {
    margin-top: 30px;
    padding: 10px;
    display: block;
    width: 90%;
    min-width: 300px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  .dashboard-buttons-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    justify-items: center;
  }
  .dashboard-button {
    width: 100px;
    height: 80px;
    background-color: #333e48;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7%;
    margin: 5px;
  }
  .dashboard-button:hover {
    background-color: #0076be;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .dashboard-button-item {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    margin: 2px;
  }
  .dashboard-button-text {
    margin: 0px;
  }

  @media (min-width: 768px) {
    .dashboard-card {
      width: 80%;
    }
    .dashboard-buttons-group {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
</style>
{% endblock %} {% block body%}
<div class="card dashboard-card">
  <h2 class="dashboard-heading">Welcome {{user.name}} {{user.surname}}</h2>

  <div class="card-body dashboard-buttons-group">
    <div class="dashboard-button">
      <a class="dashboard-button-item" href="/all-policies/">
        <i class="fa-regular fa-folder-open"></i>
        <p class="dashboard-button-text">All Policies</p>
      </a>
    </div>
    <div class="dashboard-button">
      <a class="dashboard-button-item" href="/quote/classic-cars">
        <i class="fa-solid fa-file-signature"></i>
        <p class="dashboard-button-text">Classic Cars Quote</p>
      </a>
    </div>
    <div class="dashboard-button">
      <a class="dashboard-button-item" href="/quote/all-quotes">
        <i class="fa-solid fa-file-contract"></i>
        <p class="dashboard-button-text">All Quotes</p>
      </a>
    </div>
    <div class="dashboard-button">
      <a class="dashboard-button-item" href="/new-claim">
        <i class="fa-solid fa-file-contract"></i>
        <p class="dashboard-button-text">New Claim</p>
      </a>
    </div>
    <div class="dashboard-button">
      <a class="dashboard-button-item" href="/all-claims">
        <i class="fa-solid fa-file-contract"></i>
        <p class="dashboard-button-text">All Claims</p>
      </a>
    </div>
  </div>
</div>
{% endblock %}
