{% extends 'base.html' %} {% block docName %}Error{% endblock %} {% block style
%}
<link rel="stylesheet" href="/static/css/error.css" />
{% endblock %} {% block body%}
<div class="center-error-message">
  <div class="error-message-container">
    <h1 class="error-message-text">{{status_code}}</h1>
    <h1 class="error-message-text">{{message}}</h1>
    {% if error_options != None %}
    <div class="error-message-button-container">
      {% if error_options == 'quote' %}
      <a class="btn all-button" href="/quote/classic-cars">New Quotes</a>
      {% endif %} {% if error_options == 'policy' %}
      <a class="btn all-button" href="/quote/classic-cars">New Quotes</a>
      <a class="btn all-button" href="/quote/all-quotes">Existing Quotes</a>
      {% endif %} {% if error_options == 'claim' %}
      <a class="btn all-button" href="/new-claim">New Claim</a>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
