{% extends 'base.html' %} {% block body%} {% block style %}
<link rel="stylesheet" href="/static/css/landingpages.css" />
{% endblock %}
<div class="landing-div">
  <h1 class="all-heading landing-heading">Platinum Plus</h1>
  <div class="background">
    <p>
      <span class="landing-page-bold">Sanlam Platinum Plus </span>is a insurance
      provider for top end Luxury and antique items.
    </p>
  </div>

  <p class="background">
    A <span class="landing-page-bold">luxury item </span>insurance policy may
    cover high-value items like jewelry, art, or electronics. Luxury items are
    considered elite in a particular society and are typically high-quality,
    rare, and require more resources to produce than non-luxury items. Examples
    of luxury items include:
  </p>
  <div class="background-list">
    <ul>
      <li>Classic Cars</li>
      <li>Yachts</li>
      <li>High-end watches and jewelry</li>
      <li>Private jets</li>
      <li>Landscaping services</li>
      <li>Expensive real estate</li>
      <li>Country club memberships</li>
      <li>Designer clothing and shoes</li>
    </ul>
  </div>
</div>
<!-- <img src="/static/car.jpg" /> -->

{% endblock %}
