{% extends 'base.html' %} {% block body%} {% block style %}
<style>
  .landing-div {
    width: 600px;
    color: white;
  }
  .landing-page-bold {
    font-weight: bold;
  }
  body {
    background-image: url('/static/car.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: contain;
  }
  .background {
    background-color: rgba(19, 19, 19, 0.7);
  }
</style>
{% endblock %}
<div class="landing-div">
  <h1 class="all-heading">Platinum Plus</h1>

  <p class="background">
    <span class="landing-page-bold">Sanlam Platinum Plus </span>is a insurance
    provider for top end Luxury and antique items.
  </p>

  <p class="background">
    A <span class="landing-page-bold">luxury item </span>insurance policy may
    cover high-value items like jewelry, art, or electronics. Luxury items are
    considered elite in a particular society and are typically high-quality,
    rare, and require more resources to produce than non-luxury items. Examples
    of luxury items include:
  </p>
  <ul class="background">
    <li>Classic Cars</li>
    <li>Yachts</li>
    <li>High-end watches and jewelry</li>
    <li>Private jets</li>
    <li>Landscaping services</li>
    <li>Expensive real estate</li>
    <li>Country club memberships</li>
    <li>Designer clothing and shoes</li>
  </ul>
</div>
<!-- <img src="/static/car.jpg" /> -->

{% endblock %}
