<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h1>Login</h1>
    <form action="" method="POST">
      {% if form.user_id.errors %} {% for error in form.user_id.errors %}
      <div style="color: red">{{error}}</div>
      {% endfor %} {% endif %} {% if form.password.errors %} {% for error in
      form.password.errors %}
      <div style="color: red">{{error}}</div>
      {% endfor %} {% endif %} {{form.user_id.label}}:
      {{form.user_id(placeholder="username")}} <br />
      {{form.password.label}}: {{form.password()}} <br />
      {{form.submit}}<br />
    </form>
  </body>
</html>
