<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Quote</h1>
    <h2>No: {{quote.quote_id}}</h2>
    <p>Date: {{quote.quote_date}}</p>
    <p>Category: {{category.category_name}}</p>
    <p>Classic car:</p>
    <p>Make: {{item.vehicle_make}}</p>
    <p>Model: {{item.model}}</p>
    <p>Model Year: {{item.year_model}}</p>
    <p>Vin: {{item.vin}}</p>
    <p>license_plate_number: {{item.license_plate_number}}</p>
    <p>Odometer Reading: {{item.odometer_reading}}</p>
    <p>fuel type: {{item.fuel_type}}</p>
    <p>Color: {{item.color}}</p>
    <p>Vehicle value: {{item.current_value}}</p>
    <p>Year purchased: {{item.year_purchased}}</p>
    <p>{{"R{:,.2f}".format(quote.quoted_premium).replace(',',' ')}} p/Month</p>

    <button>Accept</button>
    <button>Decline</button>
  </body>
</html>
